/* 
 * This file is part of CitizenAir.
 * CitizenAir is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * CitizenAir is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with CitizenAir.  If not, see <http://www.gnu.org/licenses/>.
 */

html {
    text-align: center;
    font-family: sans-serif;
}

html, body {
    margin: 0;
}

.center {
    text-align: center;
}

a:link, a:visited, a:hover, a:active {
    color: white;
}

li {
    list-style-type: none;
}

header {
    color: white;
}

h1 {
    background-color: #662c90;
    margin: 0;
    padding: 0.5em;
    font-size: 1.5em;
}

h1 a {
    text-decoration: none;
}

.left {
    text-align: left;
    position: absolute;
}

header .left {
    margin-left: 1em;
}

#map {
    height: 450px;
    transition: margin-left 0.5s ease 0s;
}

#map a:link, #map a:visited, #map a:hover, #map a:active {
    color: #575757;
}

.leaflet-popup-content {
    font-size: 1.5em;
}

#legend {
    transition: margin-left 0.5s ease 0s;
    height: 100%;
    overflow-y: auto;
    margin-left: -100%;
    border-right: 1px solid black;
    color: #333;
}

#legend h2 {
    margin-bottom: 0.1em;
    text-align: left;
    margin-left: 0.5em;
    margin-right: 0.6em;
}

#legend > h2:first-child {
    text-align: center;
    text-decoration: underline;
}

#legend table {
    border-collapse: collapse;
}

#legend td {
    padding: 0.25em;
    border: 1px solid grey;
}

#legend li {
    font-size: 1.5em;
    list-style-type: square;
}

#legend a:link, #legend a:visited, #legend a:hover, #legend a:active {
    color: black;
}

.legend-item {
    margin-left: 0.5em;
    margin-right: 0.6em;
    margin-bottom: 0.5em;
}

.leaflet-control-attribution {
    display: none;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
}

footer p {
    margin: 0;
    padding: 0.4em;
    font-size: 0.7em;
    text-align: right;
}

.settings a:link, .settings a:visited, .settings a:hover, .settings a:active {
    color: black;
}

.settings * {
    margin-left: auto;
    margin-right: auto;
}

.settings h2 {
    background-color: #662c90;
    color: white;
    padding: 0.5em;
    width: 50%;
    margin-top: 1em;
}

.settings table {
    border-collapse: collapse;
}

.settings table td {
    border-top: 1px solid black;
}

.settings table td:not(:last-child), .settings table th:not(:last-child)  {
    border-right: 1px solid black;
}

.settings table td, .settings table th {
    padding: 0.5em;
}

.settings label {
    display: block;
}

.settings table tr:not(:first-child):hover {
    background-color: rgba(102, 44, 144, 0.6);
}

.live {
    display: table;
    margin: auto;
    font-size: 3em;
    font-size: 10vh;
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
}

.table {
    margin: 0;
    display: table-cell;
}

#export_form {
    width: 66%;
    margin: auto;
    margin-top: 1em;
    text-align: left;
}
