html {
    text-align: center;
    font-family: sans-serif;
}

html, body {
    margin: 0;
}

body {
    background-color: black;
}


h1 {
    background-color: #662c90;
    color: white;
    margin: 0;
    padding: 0.5em;
    font-size: 1.5em;
}

.white-links a:link, .white-links a:visited, .white-links a:hover, .white-links a:active {
    color: #FFF;
}

h1 a {
    text-decoration: none;
}

#main {
    background-color: white;
    font-size: 0.75em;
}

#map {
    height: 450px;
    transition: margin-left 0.5s ease 0s;
}

#legend {
    padding: 0.5em;
    transition: margin-left 0.5s ease 0s;
    background-color: white;
    margin-top: 4.4em;
    height: 100%;
    margin-left: -100%;
}

#legend h2 {
    margin-bottom: 0.1em;
    text-align: left;
}

#legend h2:first-child {
    text-align: center;
    text-decoration: underline;
}

#legend table {
    border-collapse: collapse;
}

#legend td {
    padding: 0.25em;
    border: 1px solid grey;
}

.leaflet-control-attribution {
    display: none;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    position: relative;
}

footer p {
    margin: 0;
    padding: 0.4em;
    font-size: 0.7em;
    text-align: right;
}

.left {
    float: left;
    text-align: left;
}

.leaflet-popup-content {
    font-size: 1.5em;
}

.settings {
    font-size: 0.75em;
    background-color: white;
}

.settings * {
    margin-left: auto;
    margin-right: auto;
}

.settings h2 {
    background-color: #662c90;
    color: white;
    padding: 0.5em;
    width: 50%;
    margin: auto;
    margin-top: 1em;
}

.settings table {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}

.settings table td {
    border-top: 1px solid black;
}

.settings table td:not(:last-child), .settings table th:not(:last-child)  {
    border-right: 1px solid black;
}

.settings table td, .settings table th {
    padding: 0.5em;
}

.settings label {
    display: block;
}

.settings table tr:not(:first-child):hover {
    background-color: rgba(102, 44, 144, 0.5);
}
