/* CitizenAir is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * CitizenAir is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with CitizenAir.  If not, see <http://www.gnu.org/licenses/>.
 */

/* Design CSS de CitizenAir
/* Sommaire :
 *     - Balises et classes générales
 *     - IDs et éléments par ordre d'apparition
 */


/* Balises et classes générales 
 * ============================ */
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    line-height: 160%
}

body {
    background-color: white;
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

blockquote {
    quotes: "\201C""\201D""\2018""\2019";
    color: black;
}

blockquote:before {
    content: open-quote;
    font-size: 3em;
    line-height: 0.1em;
    vertical-align: bottom;
    color: #0e6bb3;
}

blockquote:after {
    content: close-quote;
    font-size: 3em;
    vertical-align: bottom;
    line-height: 0.1em;
    color: #0e6bb3;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #0E6BB3;
    padding: 0.25em;
}

h2 {
    font-weight: lighter;
    border-bottom: 1px solid #56acf1;
    box-shadow: 0 1px 0 #0e6bb3;
}

h3 {
    color: #0e6bb3;
    font-style: italic;
    font-weight: normal;
}

fieldset {
    border: 2px groove #0e6bb3;
}

.info {
    background-color: #cfe8fb;
    color: #0e6bb3;
    padding: 1em;
    line-height: 1.3em;
}

.info > * {
    margin: 0;
}

.center {
    text-align: center;
}

.table {
    display: table;
}

.table-caption {
    display: table-caption;
}

.contact_e-mail:after {
    unicode-bidi: bidi-override;
    direction: rtl;
    content: "tcatnoc";
}
.contact_e-mail:before {
    unicode-bidi: bidi-override;
    direction: rtl;
    content: "ten.sruetpacsneyotic";
}


/* IDs et balises par ordre d'apparition
 * ===================================== */

#page {
    position: relative;
    min-height: 100%;
}

header {
    background-color: #56acf1;
    color: white;
    border-bottom: 3px solid #0e6bb3;
}

header a:link, header a:visited, header a:hover, header a:active {
    color: white;
    text-decoration: none;
}

header h1 {
    margin: 0;
    font-variant: small-caps;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

header h1 img {
    height: 1.2em;
    vertical-align: middle;
}

nav {
    float: right;
    color: #d6d6d6; 
    font-size: 1.2em;
}

nav a:link, nav a:visited, nav a:hover, nav a:active {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    float: right;
    margin: 0;
    line-height: 2em;
    margin-right: 0.5em;
    padding: 0;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

nav li {
    display: inline-block;
    float: left;
    height: 100%;
    padding-left: 0.6em;
    padding-right: 0.6em;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 0.1em rgba(33, 33, 33, 0.5);
    padding-top: 8px;
    padding-bottom: 8px;
    list-style: none;
}

main {
    padding-bottom: 4em;
    color: #333; 
    width: 75%;
    margin: auto;
}

main.full_width {
    width: 100%;
    margin: 0;
}

main:not(.full_width) {
    padding-top: 1em;
}

main a:link, main a:visited, main a:hover, main a:active {
    color: #0e6bb3;
}

main ul {
    list-style: none;
    margin-left: 0;
    padding: 0;
    list-style-position:inside;
}

main ul li:before {
    display: inline-block;
    content: "- ";
    width: 1em;
}

aside {
    transition: margin-left: 0.5s ease 0s;
    border-right: 3px solid #0E6BB3;
    float: left;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
}

aside #toggleLegend {
    transform-origin: -100% 0px 0px;
    transform: translateX(100%) translateY(-5em) rotate(90deg);
    position: absolute;
    left: calc(100% + 2.7em);
    top: 0;
    border: 1px solid #0E6BB3;
    border-bottom: none;
    padding: 0.5em;
}

aside #toggleLegend > h3 {
    margin: 0;
    color: #333;
    font-style: normal;
}

#map {
    text-align: center;
    padding-top: 1em;
}

#map p {
    margin-left: 2em;
    margin-right: 1em;
}

#svg_holder {
    clear: both;
    width: 100%;
    background-color: #333;
}

#exportFormMeasurements {
    text-align: center;
}

#exportFormMeasurements p:first-of-type {
    margin-right: 2em;
}

#exportFormMeasurements p {
    display: inline-block;
}

#exportFormMeasurements select {
    vertical-align: middle;
}

footer {
    background-color: #cfe8fb;
    color: #0e6bb3;
    width: 100%;
    text-align: right;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
}

footer a:link, footer a:visited, footer a:hover, footer a:active {
    color: #0e6bb3;
}

footer p {
    margin-right: 1em;
}
